<h1>Create a Group!</h1>
    <div class="white-box">
        <section class="sign-up">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Name of Group:</label>
             <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
        </div>

        <div class="calendar">
        <label for="start">Party Date:</label>

        <input type="date" id="start" name="trip-start"
                value="2021-12-01"
                min="2018-01-01" max="2018-12-31">
        </div>

        <div class="time">
            <label for="appt">Choose A Time For Your Party:</label>

            <input type="time" id="appt" name="appt"
                    min="09:00" max="18:00" required>
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Location:</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Enter a Location">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Type of Exchange:</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="secret santa, white elephant, etc.">
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Price Limit:</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Enter a price limit or range">
        </div>

        </section>
        
        <div class="sign-up-btn">
            <button type="button" class="btn btn-success btn-lg">Save</button>
         </div>
        
    </div>