<div class="canvas-holder">
  <canvas id="canvas" class="canvas"></canvas>
</div>
<div class="container">
  <button type="button" class="btn btn-success">User Dashboard</button>
  <button type="button" class="btn btn-primary btn-md">Log Out</button>
  <h1>Group Dashboard</h1>
</div>
<div class="container-xl">
  <div class="card">
    <div class="card-body">
      <h4>Group Name: </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Group Members</h5>
          <p class="card-text">(where group members will render)</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Time/Place</h5>
          <h6 class="card-text">(where time and date and location will render)</h6>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">About The Party</h5>
      <p class="card-text">(render the type of party, like gift exchange or
        white elephant, and maybe explain the rules. Add the price limit.)</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>

<script {{! src="./group-dashboard.js" }}></script>