{{! <div class="canvas-holder">
  <canvas id="canvas" class="canvas"></canvas>
</div> }}

<div class="canvas-holder">
  <canvas id="canvas" class="canvas"></canvas>
</div>

<section id="nav-bar-overlay">

  <a id="title">WISH LIST</a>

</section>

<div class="intro-container">
  <h1 class="display-4">An Interactive Secret Santa Manager</h1>
  <ul>
    <li> Create Or Join A Group</li>
    <li> Create A Wishlist</li>
    <li> Set A Reminder</li>
  </ul>
  <div class="button-container">
    <div class="sign-up">
      <a
        href="/signup"
        type="button"
        class="btn btn-success btn-lg green-button italic-button"
      >Sign-Up</a>
    </div>
    <div class="login">
      <a
        href="/login"
        type="button"
        class="btn btn-success btn-lg green-button italic-button"
      >Login</a>
    </div>
  </div>
</div>

{{! <button id="logout">logout for testing</button> }}

{{! <script src="./js/landing-page.js"></script> }}