{{! <div class="canvas-holder">
  <canvas id="canvas" class="canvas"></canvas>
</div> }}

<div class="canvas-holder">
  <canvas id="canvas" class="canvas"></canvas>
</div>

<section id="nav-bar-overlay">

  <a id="title">WISH LIST</a>

</section>

<h1 class="display-4">Create Your Wish List To Share With Others!</h1>
<ul>
  <li> Create Or Join A Group</li>
  <li> Create A Wishlist</li>
  <li> Set A Reminder</li>
</ul>
<div class="container">
  <div class="sign-up">
    <a href="/signup" type="button" class="btn btn-success btn-lg">Sign-Up</a>
  </div>
  <div class="login">
    <a href="/login" type="button" class="btn btn-success btn-lg">Login</a>
  </div>
</div>

{{! <button id="logout">logout for testing</button> }}

{{! <script src="./js/landing-page.js"></script> }}