<h1>Login to View Your Dashboard!</h1>
<div class="white-box">
  <form class="join-group-form">
    <section class="sign-up">
      <div class="mb-3">
        <label for="group-id-login" class="form-label">Enter a group ID</label>
        <input
          type="text"
          class="form-control"
          id="group-id-login"
          placeholder="Group ID"
        />
      </div>
      <div class="mb-3">
        <label for="group-password-login" class="form-label">Enter group
          password</label>
        <input
          type="password"
          class="form-control"
          id="group-password-login"
          placeholder="Group Password"
        />
      </div>
    </section>
    <div class="sign-up-btn">
      <button type="submit" class="btn btn-success btn-lg">Join Group</button>
    </div>
  </form>
  {{! <div class="sign-up-link">
    <a
      href="/Users/samkennedy/Desktop/project-2-mockup/sign-up/sign-up.html"
    >Sign-In</a>
  </div> }}
</div>

<script src="./js/joinGroup.js"></script>