<h1>Sign-Up To Make An Account!</h1>
<div class="white-box">
  <form class="signup-form">
    <section class="sign-up">
      <div class="mb-3">
        <label for="email-signup" class="form-label">Enter Your Email</label>
        <input
          type="text"
          class="form-control"
          id="email-signup"
          placeholder="Email"
        />
      </div>
      <div class="mb-3">
        <label for="username-signup" class="form-label">Choose A Username</label>
        <input
          type="text"
          class="form-control"
          id="username-signup"
          placeholder="Username"
        />
      </div>
      <div class="mb-3">
        <label for="password-signup" class="form-label">Choose a Password</label>
        <input
          type="password"
          class="form-control"
          id="password-signup"
          placeholder="Password (5 character minimum)"
        />
        <i class="bi bi-eye-slash" id="togglePassword"></i>
      </div>
    </section>
    <div class="sign-up-btn">
      <button type="submit" class="btn btn-success btn-lg">Sign-Up</button>
    </div>
  </form>
  {{! <div class="login-link">
    <a
      href="/Users/samkennedy/Desktop/project-2-mockup/log-in/login.html"
    >Login</a>
  </div> }}
</div>

<script src="./js/signUp.js"></script>