 <div class="canvas-holder">
    <canvas id="canvas" class="canvas"></canvas>
</div>
        <button type="button" class="btn btn-success">Group Dashboard</button>
        <button type="button" class="btn btn-primary btn-md">Log Out</button>
  <h1>Welcome!</h1>

<div class="parent-container">
  <div class="container">
    <div class="card">
      <!-- <span class="border border-success"> -->
      <div class="card-header">
        Your Wishlist
      </div>
      <blockquote class="blockquote mb-0">
        <p>Add an item to your wishlist!</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Add an item" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Save</button>
        </div>
      </blockquote>
      <div class="card-body">
        
      </div>
    </div>
  </div>
<!-- </span> -->
  <div class="container-2">
  <h3 class="countdown"></h3>

  <div class="container-3">

    <div class="card text-center">
      <h5>Your Groups</h5>
      <div class="card-body">
        <p class="card-text">(this is where the users groups will render)</p>
        <a href="#" class="btn btn-primary">Create a Group</a>
        <a href="#" class="btn btn-primary">Join a Group</a>
      </div>

      <div class="card w-75">
        <!-- <div class="card-body"> -->
          <h5 class="card-title">Shopping List</h5>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Add an person you're shopping for" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Save</button>
          </div>
          <div class="list-of-names">

          </div>
        <!-- </div> -->
      </div>
  </div>
  </div>
</div>
</div>
    


  <script src="/Users/samkennedy/Desktop/project-2-mockup/user-dashboard/user-dashboard.js"></script>
  