<a class="btn btn-success" id="btn-position" href="/dashboard">Return To
  Dashboard</a>
<button id="logout" type="button" class="btn btn-primary btn-md">Log Out</button>
<div class="page-container">
  <h1>Account Information</h1>
  <div class="edit-profile-container">
    <h2 id="h2-style">Profile</h2>
    <form class="" id="email-username-form">
      <div class="input-position">
        <label for="input-username">Username</label>
        <input type="text" id="input-username" value="{{username}}" />
      </div>
      <div class="input-position">
        <label for="input-email">Email</label>
        <input type="text" id="input-email" value="{{email}}" />
      </div>
      <div class="btn-positioning">
        <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
      </div>
    </form>
  </div>

  <div class="edit-profile-container">
    <h2 id="h2-style">Password</h2>
    <form class="" id="password-form">
      <div class="input-position">
        <label for="input-current-password">Current Password</label>
        <input type="password" id="input-current-password" />
        <i class="bi bi-eye-slash" id="togglePassword"></i>
      </div>
      <div class="input-position">
        <label for="input-new-password-1">New Password</label>
        <input type="password" id="input-new-password-1" />
        <i class="bi bi-eye-slash" id="togglePassword"></i>
      </div>
      <div class="input-position">
        <label for="input-new-password-2">Confirm New Password</label>
        <input type="password" id="input-new-password-2" />
        <i class="bi bi-eye-slash" id="togglePassword"></i>
      </div>
      <div class="btn-positioning">
        <button type="submit" class="btn btn-success btn-lg">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>

<script src="/js/userProfile.js"></script>