<button type="button" class="btn btn-success">Group Dashboard</button>
<button id="logout" type="button" class="btn btn-primary btn-md">Log Out</button>
<h1>Welcome!</h1>

<div class="user-dashboard-container">
  <div class="wishlist-container">
    <div class="wishlist-card card">
      <!-- <span class="border border-success"> -->
      <div class="card-header">
        Your Wishlist
      </div>
      <div class="card-body">
        {{! DO WE NEED THE BELOW? }}
        {{! <blockquote class="blockquote mb-0">
        <p>Add an item to your wishlist!</p> 
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Add an item"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
          >Save</button>
        </div>
      </blockquote> }}
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#giftModal"
        >
          Add Gift
        </button>
        <div class="card-body">
          <ul class="gifts">
            {{#each gifts as |gift|}}
              <div class="gift-item" data-gift-id="{{gift.id}}">
                <li class="gift">{{gift.gift_name}}</li>
                <div class="gift-button-container">
                  <button
                    id="edit-button"
                    data-bs-toggle="modal"
                    data-bs-target="#editGiftModal"
                    class="edit-button gift-button btn btn-success btn-lg"
                  >Edit</button>
                  <button
                    class="gift-button delete-button btn btn-success btn-lg"
                  >Delete</button>
                </div>
              </div>
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="group-list-container col-6 col-sm-12">
    <div class="card text-center">
      <div class="card-header">
        Your Groups
      </div>
      <div class="card-body">

        <div class="group-buttons">
          <a href="/create-group" class="btn btn-primary">Create a Group</a>
          <a href="/join-group" class="btn btn-primary">Join a Group</a>
        </div>

        <div class="card-body">
          <ul class="group-list">
            {{#each groups as |group|}}
              <li class="group-item"><a
                  href="/group/{{group.id}}"
                >{{group.event_name}}</a></li>
            {{/each}}
          </ul>
        </div>

      </div>

      {{! TODO: add this later? }}
      {{! <div class="card w-75">
          <h5 class="card-title">Shopping List</h5>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Add an person you're shopping for"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2"
            >Save</button>
          </div>
          <div class="list-of-names">

          </div>
        </div> }}

    </div>

  </div>

</div>

{{! ************************************************* }}
<!-- Add gift modal -->
<div
  class="modal fade"
  id="giftModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add gift details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="add-gift-form">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gift Name</label>
            <input
              type="text"
              class="form-control"
              id="add-gift-name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gift Price</label>
            <input type="number" class="form-control" id="add-gift-price" />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gift Link</label>
            <input type="text" class="form-control" id="add-gift-link" />
          </div>
          <button
            id="add-gift-button"
            type="submit"
            class="btn btn-primary"
          >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit gift modal -->
<div
  class="modal fade"
  id="editGiftModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit gift details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="edit-gift-form" data-gift-id="">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gift Name</label>
            <input
              type="text"
              class="form-control"
              id="edit-gift-name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gift Price</label>
            <input type="number" class="form-control" id="edit-gift-price" />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gift Link</label>
            <input type="text" class="form-control" id="edit-gift-link" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script src="./js/userDashboard.js"></script>