<h1>Account Information</h1>

<section>
  <h2>Profile</h2>
  <div>
    <form class="login-form">
      <div class="input-spacing">
        <label for="input-username">Username</label>
        <input type="text" id="input-username" value="{{username}}" />
      </div>
      <div class="input-spacing">
        <label for="input-email">Email</label>
        <input type="text" id="input-email" value="{{email}}" />
      </div>
      <div class="input-spacing">
        <button type="submit" class="btn btn-success btn-lg">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</section>

<section>
  <h2>Password</h2>
  <div>
    <form class="login-form">
      <div>
        <label for="input-current-password">Current Password</label>
        <input type="password" id="input-current-password" />
        {{!-- <i class="bi bi-eye-slash" id="togglePassword"></i> --}}
      </div>
      <div>
        <label for="input-new-password-1">New Password</label>
        <input type="password" id="input-new-password-1" />
        {{!-- <i class="bi bi-eye-slash" id="togglePassword"></i> --}}
      </div>
      <div>
        <label for="input-new-password-2">Confirm New Password</label>
        <input type="password" id="input-new-password-2" />
        {{!-- <i class="bi bi-eye-slash" id="togglePassword"></i> --}}
      </div>
      <div>
        <button type="submit" class="btn btn-success btn-lg">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</section>