<a class="btn btn-success" href="/dashboard/profile">Edit Profile</a>
<button id="logout" type="button" class="btn btn-primary btn-md">Log Out</button>
<h1>Welcome!</h1>
<div id="countdown"></div>

<div class="user-dashboard-container">
  <div class="wishlist-container">
    <div class="wishlist-card card">
      <div class="wishlist-header">
        <h2 class="cursive">
          Wishlist
        </h2>
        <!-- Icon button triggers modal -->
        <div class="icon-label-container">
        <img
          alt="Create new gift button"
          class="icon-button"
          data-bs-toggle="modal"
          data-bs-target="#giftModal"
          src="assets/plus-icon.png"
        />
        <div class="icon-label">Add</div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-body">
          <ul class="gifts">
            {{#each gifts as |gift|}}
              <div class="gift-item" data-gift-id="{{gift.id}}">
                <li class="gift">{{gift.gift_name}}</li>
                <div class="gift-button-container">
                  <!-- Icon button triggers modal -->
                  <img
                    alt="Edit gift button"
                    class="gift-item-icon icon-button"
                    id="edit-button"
                    data-bs-toggle="modal"
                    data-bs-target="#editGiftModal"
                    src="/assets/edit-icon.png"
                  />
                  <img
                    alt="Delete gift button"
                    class="gift-item-icon delete-button icon-button"
                    id="delete-button"
                    src="/assets/delete-icon.png"
                  />
                </div>
              </div>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="grouplist-container">
    <div class="grouplist-card card">
      <!-- <span class="border border-success"> -->
      {{! <div class="card-header"> }}
      <div class="grouplist-header">
        <h2 class="cursive">
          Groups
        </h2>
        <div class="group-buttons">
          <div class="icon-label-container">
          <a href="/create-group">
            <img
              alt="Create group button"
              class="icon-button"
              src="assets/add-folder-icon.png"
            />
            </a>
            <div class="icon-label">New</div>
            </div>
          </a>
          <div class="icon-label-container">
          <a href="/join-group">
            <img
              alt="Join group button"
              class="icon-button"
              src="assets/party-icon.png"
            />
          </a>
          <div class="icon-label">Join</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card-body">
          <ul class="group-list">
            {{#each groups as |group|}}
              
                <div class="group-item">
                  <a href="/group/{{group.id}}">
                  <li class="group">{{group.event_name}}</li>
                    </a>
                </div>
            
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add gift modal -->
<div
  class="modal fade"
  id="giftModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add gift details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="add-gift-form">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gift Name</label>
            <input
              type="text"
              class="form-control"
              id="add-gift-name"
              aria-describedby="emailHelp"
              placeholder="Required"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gift Price</label>
            <input
              type="number"
              class="form-control"
              id="add-gift-price"
              placeholder="Optional"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gift Link</label>
            <input
              type="text"
              class="form-control"
              id="add-gift-link"
              placeholder="Optional"
            />
          </div>
          <button
            id="add-gift-button"
            type="submit"
            class="btn btn-primary"
          >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit gift modal -->
<div
  class="modal fade"
  id="editGiftModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit gift details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="edit-gift-form" data-gift-id="">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gift Name</label>
            <input
              type="text"
              class="form-control"
              id="edit-gift-name"
              aria-describedby="emailHelp"
              placeholder="Required"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gift Price</label>
            <input
              type="number"
              class="form-control"
              id="edit-gift-price"
              placeholder="Optional"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gift Link</label>
            <input
              type="text"
              class="form-control"
              id="edit-gift-link"
              placeholder="Optional"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script src="./js/userDashboard.js"></script>