body {
  height: 100px;
  background-color: #cc231e;
  background-image: radial-gradient(#d71516, #8f090a);
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 45px;
  color: rgb(236, 236, 236);
  -webkit-text-stroke: 0.5px black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.white-box {
  background-color: white;
  color: black;
  border-radius: 22px;
  margin: auto;
  width: 700px;
  /* height: 630px; */
  margin-top: 30px;
  padding-bottom: 30px;
}

.sign-up {
  text-align: center;
  padding-top: 30px;
}

.mb-3 {
  width: 500px;
  margin: auto;
  text-align: left;
}

.calendar {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 17px;
}

.time {
  padding-bottom: 30px;
  font-size: 17px;
}

.form-label {
  color: black(240, 240, 240, 0.993);
  font-size: 18px;
}

.sign-up-btn {
  text-align: center;
  padding-top: 10px;
}

.login-link {
  text-align: center;
  margin: auto;
  padding-top: 10px;
}
