body {
  height: 100px;
  background-color: #d71516;
  /* background-image:
      radial-gradient(
        #D71516,
        #8F090A
      ); */
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 45px;
  color: rgb(236, 236, 236);
  -webkit-text-stroke: 0.5px black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.white-box {
  background-color: white;
  color: black;
  border-radius: 22px;
  margin: auto;
  width: 700px;
  height: 400px;
  margin-top: 70px;
}

.sign-up {
  text-align: center;
  padding-top: 100px;
}

.mb-3 {
  width: 500px;
  margin: auto;
}

.form-label {
  color: black(240, 240, 240, 0.993);
  font-size: 24px;
}

.sign-up-btn {
  text-align: center;
  padding-top: 10px;
}
