body {
  height: 100px;
  background-color: #cc231e;
  background-image: radial-gradient(#d71516, #8f090a);
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 45px;
  color: rgb(236, 236, 236);
  -webkit-text-stroke: 0.5px black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.white-box {
  background-color: white;
  color: black;
  border-radius: 22px;
  margin: auto;
  width: 57%;
  height: 60%;
  margin-top: 70px;
}

.sign-up {
  text-align: center;
  padding-top: 50px;
}

.mb-3 {
  width: 80%;
  margin: auto;
}

.form-label {
  color: black(240, 240, 240, 0.993);
  font-size: 24px;
}

.sign-up-btn {
  text-align: center;
  padding-top: 10px;
}

.btn.btn-success.btn-lg {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}