body {
  background-color: #cc231e;
  background-image: url(../assets/AdobeStock_293865165.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: christmas;
  src: url(landing-page/santas_sleigh/SantasSleighFull-Bold.ttf);
}

.container-1 {
  text-align: center;
  margin: auto;
}

a {
  padding: 16px;
}

#title {
  font-size: 70px;
  font-family: christmas;
  -webkit-text-stroke: 0.4px whitesmoke;
}

#nav-bar-item-login,
#nav-bar-item-group,
#nav-bar-item-list,
#nav-bar-item-contact {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-text-stroke: 0.2px whitesmoke;
  opacity: 80%;
  font-weight: bold;
}

#nav-bar-overlay {
  display: inline;
}

.display-4 {
  margin: auto;
  text-align: center;
  padding-top: 16%;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: whitesmoke;
  -webkit-text-stroke: 0.5px black;
}

.canvas-holder {
}

canvas {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
}

.sign-up {
  text-align: center;
  padding-top: 19px;
}

#background-image {
  background-image: url(AdobeStock_293865165.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
