:root {
  --holiday-gold: #fabc02;
}

canvas {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  /* Added z-index so we can click on signup button */
  z-index: -1;
  height: 100vh;
}

.btn {
  background-color: var(--holiday-gold);
}

/* spinner */
:root {
  --colour1: #fff;
  --colour2: red;
  --speed: 1s;
}

html,
body {
  height: 100%;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.bar {
  min-height: 100px;
  border-radius: 10px;
  width: calc(113px * 4);
  box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
  background-color: var(--colour2);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 40px,
    var(--colour1) 40px,
    var(--colour1) 80px
  );

  animation: slide var(--speed) linear infinite;
  will-change: background-position;
}

@media only screen and (max-width: 450px) {
  .bar {
    width: calc(113px * 3);
  }
}
@media only screen and (max-width: 350px) {
  .bar {
    width: calc(113px * 2);
  }
}

.gold-overlay {
  background-color: var(--holiday-gold);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.show-overlay {
  display: block;
}

.show-loader {
  display: flex;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;

  list-style-type: none;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.dashboard-header h2 {
  margin: 0px;
  /* margin-top: 10px; */
  font-weight: bold;
  margin-bottom: 10px;
  color: green;
}

.gifts,
.group-list,
.member-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
}

.gift-item,
.group-item,
.member-item {
  /* padding: 0px 5px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.group-item,
.member-item {
  justify-content: center;
}

.gift-button {
  font-size: 0.75em;
}

.group:hover {
  color: red;
}

.gift-button-container {
  display: flex;
  justify-content: space-between;
}

.wishlist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-button-container .btn {
  margin: 0px;
}

.white-box {
  box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
}

.card {
  box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
}

.message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  border-radius: 0px 0px 3px 3px;
}

.message-fade {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.message-fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.icon-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.icon-button {
  width: 30px;
  height: 30px;
}

.cursive {
  font-family: cursive;
}

.gift,
.group,
.member {
  font-family: "Satisfy", cursive;
  text-decoration: none;
  color: green;
}

.icon-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-label {
  font-size: 0.5em;
}

.icon-label-container:first-child {
  margin-right: 20px;
}

#countdown {
  text-align: center;
  color: aliceblue;
  font-size: 28px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}
